<form action="">
    <input type="radio" >
    <input type="radio" >
    <input type="text" value="cat[name]" >
    <select name="cat[color]" id="">
        <option value="Red">Red</option>
        <option value="Blue">Blue</option>
        <option value="Orange">Orange</option>
        <option value="Calico">Calico</option>
        <option value="Yellow">Yellow</option>
    </select>
    <input type="date">
    <textarea name="cat[description]" id="" cols="30" rows="10"></textarea>

</form>